:root {
    font-family: "Uncut Sans";
    font-size: 10px;
    --nat-dark-gray: rgb(61, 60, 70);
    background-image: url("assets/background.png");
}

@font-face {
    font-family: "Uncut Sans";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/kaspernordkvist/uncut_sans/Webfonts/Uncut-Sans-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/kaspernordkvist/uncut_sans/Webfonts/Uncut-Sans-Regular.woff") format("woff");
    font-display: swap
}

body {
    font-size: 1.8rem;
    margin: 3em 3em 0 3em;
    color: black;
}

.page-title {
    color: var(--nat-dark-gray);
    font-size: 2.5em;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
    border-bottom: 3px solid var(--nat-dark-gray);
    display: flex;
    width: 100%;
    align-items: center;
}

.title-text {
    flex: auto;
}

.page-title img {
    width: 10rem;
    border-radius: 20px;
}
